<ion-content [fullscreen]="true">
  <label><strong>Pesquisar com o CEP</strong></label
  ><br />
  <ion-input placeholder="Digite o CEP:" [(ngModel)]="cep"></ion-input><br />

  <br /><br />

  <label><strong>Não tem o CEP? Use esta opção</strong></label
  ><br /><br />

  <ion-item
    ><ion-input
      placeholder="Digite o UF:"
      [(ngModel)]="estado"
    ></ion-input></ion-item
  ><br />
  <ion-item
    ><ion-input
      placeholder="Digite o cidade:"
      [(ngModel)]="cidade"
    ></ion-input></ion-item
  ><br />
  <ion-item
    ><ion-input
      placeholder="Digite o logradouro:"
      [(ngModel)]="logradouro"
    ></ion-input></ion-item
  ><br />

  <br />
  <ion-button (click)="consultar()">consultar</ion-button>

  <div *ngIf="cepP">
    <p><strong>CEP:</strong> {{ cepP.cep }}</p>
    <p><strong>Bairro:</strong> {{ cepP.bairro }}</p>
    <p><strong>Estado:</strong> {{ cepP.uf }}</p>
    <p><strong>Cidade:</strong> {{ cepP.localidade }}</p>
    <p><strong>logradouro:</strong> {{ cepP.logradouro }}</p>
    <br /><br />
  </div>

  <div>
    <ion-list>
      <ion-item *ngFor="let list of (cepL | async)">
        <p><strong>CEP:</strong> {{ cepL.cep }}</p>
        <p><strong>Bairro:</strong> {{ cepL.bairro }}</p>
        <p><strong>Estado:</strong> {{ cepL.uf }}</p>
        <p><strong>Cidade:</strong> {{ cepL.localidade }}</p>
        <p><strong>logradouro:</strong> {{ cepL.logradouro }}</p>
        <br /><br />
      </ion-item>
    </ion-list>
  </div>
</ion-content>
